<!doctype html>
{% extends 'donut/title.html' %}
{% load static %}
{% block head %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Профиль</title>

    <link rel="stylesheet" href="{% static 'css/titels.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/area.css' %}"/>
    <link rel="shortcut icon" href="{% static 'img/icon.png' %}" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>

</head>
{% endblock %}


{% block name %}




<div class="logo">
    <img src="{{ cUser.img.url }}" alt="" width="150px">

</div>
<div class="file-upload ">
    <form action="" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <div class="example-1">
            <div class="form-group">
                <label class="label">
                    <svg class="svg" style="width:100px;height:100px" viewBox="0 0 24 24">
                        <path fill="currentColor"
                              d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z"/>
                    </svg>
                    {{ form.img }}
                </label>
            </div>
        </div>
    </form>
</div>
<div class="con">
    {% if request.user.is_authenticated %}
    <div>
    <p style="color:white; font-family: Organetto-Variable;font-size:50px;">
        {{ request.user.username }}
         <img src="{% static 'img/gaochka.png' %}" alt="" width="30px" style="margin-top: -5px">
    </p>

    </div>
{% endif %}




</div>
<div class="post">
    <div >
        <nav class="three">
            <ul class="topmenu">

                <li><a class="as" href="#">. . .<i class=""></i></a>
                    <ul class="submenu">
                        <li><a class="as2" href="">Редактировать</a></li>

                        <li><a class="as2 as3" href="{% url 'exit' %}?next=/">Выйти</a></li>
                    </ul>
                </li>

            </ul>
        </nav>
    </div>


    <p style="color: white; font-family: Organetto-Variable; font-size: 30px">{{ cUser.count_posts }} постов</p>
    <p style="color: white; font-family: Organetto-Variable; font-size: 30px;padding-left: 35px">{{ cUser.followers }}
        отслеживают</p>
    <p style="color: white; font-family: Organetto-Variable; font-size:30px;padding-left: 35px">{{ cUser.likes }}
        лайков</p>






</div>

<div class="main-content2">

    {% for posts in ppp %}
    <div class="photo">
        <img class="zoom" src="{{ posts.img.url }}" alt="" width="300px" height="380px" style=" border-radius: 30px;">
        <div  class="content fade button2" id="postbtn{{ posts.id}}}">
            <p>Описание:</p>
            <p>{{ posts.description }}</p>
            <input id="toggle-heart" type="checkbox"/>
            <label for="toggle-heart" aria-label="like">❤ 199</label>
        </div>
    </div>

	<div class="overlay2">
		<div class="popup2">
			<h2>Добавление поста</h2>
            <form id="form" action="" enctype="multipart/form-data" method="post">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
                {% csrf_token %}
                <div class="example-2">
                    <div class="form-group">

                        {{ post.postImg }}
                        <label for="file" class="btn btn-tertiary js-labelFile">
                            <i class="icon fa fa-check"></i>
                            <span class="js-fileName">Загрузить файл</span>
                        </label>
                    </div>
                </div>

                {{ posts.description }}
                <input type="submit" id="btn" value="Добавить">
            </form>
		</div>
	</div>


    {% endfor %}

</div>

<script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
<script>
    $('.button2').click( function(e) {
        $('.overlay2').fadeIn();
        console.log(e);
});

// Закрытие окна на крестикe
$('.close-popup2').click( function() {
	$('.overlay2').fadeOut();
});

// Закрытие окна на поле
$(document).mouseup( function (e) {
	var popup = $('.popup2');
	if (e.target != popup[0] && popup.has(e.target).length === 0){
		$('.overlay2').fadeOut();
	}
});

</script>
</script>


<script>
    (function () {

        'use strict';

        $('.input-file').each(function () {
            var $input = $(this),
                $label = $input.next('.js-labelFile'),
                labelVal = $label.html();

            $input.on('change', function (element) {
                var fileName = '';
                if (element.target.value) fileName = element.target.value.split('\\').pop();
                fileName ? $label.addClass('has-file').find('.js-fileName').html(fileName) : $label.removeClass('has-file').html(labelVal);
            });
        });

    })();
</script>


{% endblock %}