<!doctype html>
{% extends 'donut/title.html' %}
{% load static %}
{% block head %}
{% load customtags %}
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Профиль</title>

    <link rel="stylesheet" href="{% static 'css/titels.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/area.css' %}"/>
    <link rel="shortcut icon" href="{% static 'img/icon.png' %}" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
    {% block scripts %}
    <script src="{% static 'js/search.js' %}" defer></script>
    {% endblock scripts %}
    <script src="{% static 'js/like.js' %}" defer></script>
</head>
{% endblock %}
{% block name %}
<div class="blur-search" id="overlay-blur">

    <div class="logo">
        <img src="{{ obj.img.url }}" alt="" width="150px">

    </div>

    <div class="con">

        <div>
            <p style="color:white; font-family: Organetto-Variable;font-size:50px;">
                {{ obj.name }}
                <img src="{% static 'img/gaochka.png' %}" alt="" width="30px" style="margin-top: -5px">
            </p>

        </div>
        <div class="follow-btn">
            {% if follow %}
            <form action="{% url 'follow-unfollow-view' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="profile_pk" value={{obj.pk}}>
                <button type="submit" class="follow">
                    Отписаться
                </button>
            </form>
            {% else %}
            <form action="{% url 'follow-unfollow-view' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="profile_pk" value={{obj.pk}}>
                <button type="submit" class="follow">
                    Подписаться
                </button>
            </form>
            {% endif %}
        </div>

    </div>

    <div class="post">
        <div>

        </div>
        <p style="color: white; font-family: Organetto-Variable; font-size: 30px">{{ post_count }} posts</p>
        <p style="color: white; font-family: Organetto-Variable; font-size: 30px;padding-left: 35px">{{ count_follow }} follow</p>
        <p style="color: white; font-family: Organetto-Variable; font-size:30px;padding-left: 35px">{{ obj.likes }}
            лайков</p>
    </div>

    <div class="main-content2">
        {% for posts in all_post_user %}
        <div class="photo">
            <img class="zoom" src="{{ posts.img.url }}" alt="" width="300px" height="380px"
                 style="border-radius: 30px;">
            <div class="button2 content fade" id="{{posts.id}}">
                <p>Описание:</p>
                <p>{{ posts.description }}</p>

            </div>
        </div>
        <div class="overlay2" id="myOverlay{{posts.id}}">
            <div class="popup2">
                <div class="photo-post">
                    <img src="{{ posts.img.url }}" alt="" width="100%" height="100%" style=" object-fit: cover;	">
                </div>
                <h1 class="title-post">ОПИСАНИЕ</h1>
                <div class="description">
                    <p>{{ posts.description }}</p>
                </div>
                <form action="{% url 'like' %}" method="post" class="like-form form2" id="{{posts.id}}">
                    {% csrf_token %}
                    <input type="hidden" name="post_id" value="{{posts.id}}">
                    <button class="ui button positive like-btn{{posts.id}}" id="btnlike{{posts.id}}" type="submit"><p {%
                                                                                                                      if
                                                                                                                      posts|color:user
                                                                                                                      %}
                                                                                                                      style="color: red;"
                                                                                                                      {%
                                                                                                                      endif%}
                                                                                                                      class="like-img"
                                                                                                                      id="like-img{{posts.id}}">
                        ❤ {{ posts.liked.all.count }}</p></button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
<script>

    $(document).on('click', '.button2', function (e) {
        let id = e.target.id;
        $('#myOverlay' + id).fadeIn();
        console.log(id)
    });


    // Закрытие окна на крестикe
    $('.close-popup2').click(function () {
        $('.overlay2').fadeOut();
    });

    // Закрытие окна на поле
    $(document).mouseup(function (e) {
        var popup = $('.popup2');
        if (e.target != popup[0] && popup.has(e.target).length === 0) {
            $('.overlay2').fadeOut();
        }
    });

</script>


<script>
    (function () {

        'use strict';

        $('.input-file').each(function () {
            var $input = $(this),
                $label = $input.next('.js-labelFile'),
                labelVal = $label.html();

            $input.on('change', function (element) {
                var fileName = '';
                if (element.target.value) fileName = element.target.value.split('\\').pop();
                fileName ? $label.addClass('has-file').find('.js-fileName').html(fileName) : $label.removeClass('has-file').html(labelVal);
            });
        });

    })();
</script>


{% endblock %}