<!doctype html>
{% extends 'donut/title.html' %}
{% load static %}
{% block head %}
{% load customtags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="shortcut icon" href="{% static 'img/icon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/titels.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/statistics.css' %}"/>
    <title>Статистика</title>
</head>
{% endblock %}

{% block name %}
    <div class="section">
    <div class="chart">
        <canvas id="myChart" width="100px"></canvas>
    </div>
</div>
<script>
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: ['Мужчины', 'Женщины'],
            datasets: [{
                data: [{{count_male}}, {{count_female}}],
    backgroundColor: [
        'rgba(255, 99, 132,1)',
        'rgba(54, 162, 235,1)'
    ],
        borderColor
    :
    [
        'rgba(255, 99, 132, 1)',
        'rgba(54, 162, 235, 1)',
    ],
        borderWidth
    :
    1
    }]
    },
    options: {
        labels: {
            pointStyle: 'dash'

        }
    }
    })
    ;


</script>
{% endblock %}
