<!doctype html>
{% load static %}
<html lang="en">
{% block head %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/titels.css' %}"/>
    <link rel="shortcut icon" href="{% static 'img/icon.png' %}" type="image/x-icon">
    <title>Document</title>
</head>
{% endblock  %}

<body>
{% block title %}
<div class="title">
    <a href="{% url 'main' %}"> <img src="{% static 'img/icon.png' %}" width="30px" height="30px" style="margin:23px"></a>
    <a href="{% url 'main' %}"><h3 class="name">DONUT</h3></a>
    <form action="">
        <input class="search" type="search" name="" id="" placeholder="Поиск">
    </form>
    <a href="">
                <img src="{% static 'img/notification1.png' %}" alt="" width="55px" style="   position: absolute;margin-top:17px; margin-left:73px">
        <img src="{% static 'img/notification.png' %}" alt="" width="55px" style="margin-top:17px; margin-left:70px">

    </a>
    <a href="{% url 'area' %}">
        <img src="{% static 'img/user-photo.png' %}" alt="" width="43px" style="position:absolutle; margin-top:21px; margin-left:70px">
    </a>
</div>
{% endblock %}
{% block name %}
{% endblock  %}
</body>


</html>