body {
    background-color: #0c0c0c;
    text-decoration: none;
    outline: none;
}

a {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

h3 {
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

*, ::after, ::before {
    box-sizing: inherit;
}


.logo {
    position: absolute;
    z-index: 3;
    width: 150px;
    overflow: hidden;
    border-radius: 80px;
    height: 150px;
    background-color: #ffffff;
    align-items: center;
    justify-items: center;
    margin-left: 150px;
    top: 120px;
}


.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post {
    position: absolute;
    display: flex;
    z-index: 3;
    padding-left: 225px;
    width: 50%;


    top: 200px;
    left: 211px;

}

.con {
    display: flex;
    padding-left: 10px;
    position: absolute;
    z-index: 3;
    padding-right: 200px;
    width: 50%;
    top: 100px;
    left: 420px;
    height: 50px;
    /*background-color: #e2264d;*/
}

.fa-angle-down:before {
    content: "";
}

.main-content {
    display: grid;
    grid-template-columns: 350px 350px 350px 350px;
    position: absolute;
    z-index: -1;
    width: 94%;

    margin-left: 40px;
    height: 100%;
    grid-row-gap: 55px;
}

.photo {
    z-index: -1;

    padding-left: 50px;
    position: relative;
}

.photo > img {
    display: block;
    z-index: 100;
    width: 100%;
    object-fit: cover;
}

.photo > .content {

    overflow: hidden; /* Обрезаем все, что не помещается в область */
    background: #fc0; /* Цвет фона */
    text-overflow: ellipsis; /* Добавляем многоточие */
    position: absolute;
    inset: 0;
    border-radius: 30px;
    font-size: 15px;
    padding: 1rem;
    font-family: 'Montserrat Alternates', sans-serif;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    left: 50px;
    text-align: justify;
    justify-content: center;
    align-items: center;
     overflow-wrap: break-word;
}

.search {
    background-image: url(icon.png);
    background-repeat: no-repeat;
    background-position: 4px;
    margin-top: 15px;
    margin-left: 140px;
    padding-left: 50px;
    padding-top: 2px;
    text-decoration: none;
    width: 876px;
    height: 40px;
    border-radius: 25px;
    outline: none;
    border: none;
}

.photo > img,
.photo > .content {
    transition: 200ms ease-in-out;
}

.photo:hover > .content.fade {
    opacity: 1;
}


.photo > .content.fade {
    opacity: 0;


}

.content {
    height: 350px;


}
.btn-post{
    width: 300px;
    height: 370px;
    opacity: .5;
    background-color: #e2264d;
    position: absolute;
    margin-left: 50px;
}
.description-post{
  text-align: justify;
    height: 290px;
    overflow: hidden;
     text-overflow: ellipsis;
}

.photo:hover > img.zoom {

    filter: blur(1px);
}


h1 {
    position: absolute;
    color: white;
    z-index: 5;
}

#fp-nav ul li a,
.fp-slidesNav ul li a {
    display: block;
    margin-top: -50px;
    margin-left: 700px;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}

span {
    width: 50px;
    background-color: white !important;
}

.area {
    background-color: white;
    width: 100px;
    height: 120%;
}

.scrollable-content {
    position: absolute;
    margin-top: -300px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: unset;
    width: 100%;
    height: 90%;
}

.main-content2 {
    z-index: 3;
    display: grid;
    grid-template-columns: 350px 350px 350px 350px;
    position: absolute;
    width: 94%;
    margin-top: 340px;
    margin-left: 40px;
    height: 100%;
    grid-row-gap: 55px;

}

::-webkit-scrollbar {
    width: 0;
}

.h {
    color: #0c0c0c;
}

[id='toggle-heart'] {
    position: absolute;
    left: -100vw;
}

[id='toggle-heart']:checked + label {
    color: #e2264d;
    -webkit-filter: none;
    filter: none;
    will-change: font-size;
    -webkit-animation: heart 1s cubic-bezier(0.17, 0.89, 0.32, 1.49);
    animation: heart 1s cubic-bezier(0.17, 0.89, 0.32, 1.49);
}

[id='toggle-heart']:checked + label:before, [id='toggle-heart']:checked + label:after {
    -webkit-animation: inherit;
    animation: inherit;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}

[id='toggle-heart']:checked + label:before {
    will-change: transform, border-width, border-color;
    -webkit-animation-name: bubble;
    animation-name: bubble;
}

[id='toggle-heart']:checked + label:after {
    will-change: opacity, box-shadow;
    -webkit-animation-name: sparkles;
    animation-name: sparkles;
}


[for='toggle-heart'] {
    align-self: center;


    position: relative;

    color: #ffffff;
    font-size: 1.1em;
    font-family: 'Montserrat Alternates', sans-serif;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

[for='toggle-heart']:before, [for='toggle-heart']:after {
    position: absolute;
    z-index: -1;
    top: 90%;
    left: 50%;
    border-radius: 50%;
    content: '';
}

[for='toggle-heart']:before {
    box-sizing: border-box;
    margin: -2.25rem;
    border: solid 2.25rem #e2264d;
    width: 3.5rem;
    height: 3.5rem;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[for='toggle-heart']:after {
    margin: -0.1875rem;
    width: 0.375rem;
    height: 0.375rem;
    box-shadow: 0.32476rem -3rem 0 -0.1875rem #ff8080, -0.32476rem -2.625rem 0 -0.1875rem #ffed80, 2.54798rem -1.61656rem 0 -0.1875rem #ffed80, 1.84982rem -1.89057rem 0 -0.1875rem #a4ff80, 2.85252rem 0.98418rem 0 -0.1875rem #a4ff80, 2.63145rem 0.2675rem 0 -0.1875rem #80ffc8, 1.00905rem 2.84381rem 0 -0.1875rem #80ffc8, 1.43154rem 2.22414rem 0 -0.1875rem #80c8ff, -1.59425rem 2.562rem 0 -0.1875rem #80c8ff, -0.84635rem 2.50595rem 0 -0.1875rem #a480ff, -2.99705rem 0.35095rem 0 -0.1875rem #a480ff, -2.48692rem 0.90073rem 0 -0.1875rem #ff80ed, -2.14301rem -2.12438rem 0 -0.1875rem #ff80ed, -2.25479rem -1.38275rem 0 -0.1875rem #ff8080;
}

.edit {
    background-color: #0c0c0c;
    text-decoration: none !important;
    outline: none !important;
    font-family: Organetto-Variable;
    text-align: center;
    color: white;
    margin-top: 18px;
    margin-left: 100px;
    font-size: 20px;
    color: white;
    border: 1px solid white;
    width: 170px;
    height: 30px;
    border-radius: 30px;


}

.edit-desc{
    resize: none;
    position: absolute;
    outline: black 3px;
    border-radius: 20px;
    font-size: 20px;
    width: 400px;
    background-color:#fafafa;
    text-align: justify;
    height: 400px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 95px;
    margin-left: 540px;
    padding-top: 0px;
}

@import url(https://fonts.googleapis.com/css?family=Lora);

nav {
    width: 200px;
    margin: -12% -9% 30px;
}

.three {
    position: absolute;
    margin-left: 400px;
    margin-top: -70px;

}
.three2 {
    position: absolute;
    margin-left: 790px;
    margin-top: -10px;

}

ul {

    list-style: none;
    margin: 0;
    padding: 0;
}

.topmenu > li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
}

.topmenu > li:last-child {
    margin-right: 0;
}

.as {
    font-weight: bold;
    display: block;
    padding: 40px 10px;
    font-size: 20px;
    text-decoration: none;
    outline: none;
    width: 200px;
    left: -100px;
    font-family: 'Lora', serif;
    transition: .5s linear;
}



.as2 {
    display: block;
    padding: 10px 10px;
    font-family: Organetto-Variable;
    text-align: center;
    color: white;
    font-size: 20px;
    text-decoration: none;
    outline: none;
    width: 200px;
    transition: 0.1s linear;
}

.as3:hover {
    background-color: #e2264d;
    border-radius: 18px;
}

.fa {
    font-family: "FontAwesome";
    color: inherit;
    padding-left: 10px;
}

.submenu {
    position: absolute;
    top: 90%;
    left: -80px;
    text-align: center;
    background-color: #0c0c0c;
    width: 100%;
    z-index: 10;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.submenu2 {
    position: absolute;
    top: 70%;
    left: -10px;
    text-align: center;
    background-color: #0c0c0c;
    width: 100%;
    z-index: 10;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.three ul {

}
.id-post{
    opacity: 0;
    cursor: pointer;
    width: 200px;
    height: 50px;
    position: absolute;
    margin-left: -100px;
}

.id-post2{
opacity: 0;
    cursor: pointer;
    width: 200px;
    height: 50px;
    position: absolute;
    margin-left: -100px;
}
.three ul a {
    color: white;
}

.edit-button{
    position: absolute;
    background-color: #232323;
    border: 2px solid black;
    color: white;
    border-radius: 20px;
    width: 150px;
    margin-left: 665px;
    height: 50px;
    margin-top: 520px;
}



.three .submenu {
    visibility: hidden;
    opacity: 0;
    border-radius: 20px;
    border: 1px solid white;
}



.three ul li:hover .submenu {
    visibility: visible;
    opacity: 1;
}

.three2 ul  {
    color: white;
}

.three2 .submenu2 {
    visibility: hidden;
    opacity: 0;
    border-radius: 20px;
    border: 1px solid white;
}

.three2 ul li:hover .submenu2 {
    visibility: visible;
    opacity: 1;
}

.file-upload {
    position: absolute;

    width: 100px;
    height: 100px;
    color: white;
    top: 86px;
    left: 116px;
    z-index: 100;
}

.example-1 .form-group {
    padding: 1em;
    margin: 1em
}

.example-1 input[type=file] {
    outline: 0;
    opacity: 0;
    pointer-events: none;
    user-select: none;

}

.example-1 .label {
    width: 150px;
    height: 150px;
    display: block;
    border-radius: 80px;
    cursor: pointer;
    text-align: center
}

.example-1 .label i {
    display: block;
    font-size: 42px;
    padding-bottom: 16px;
    opacity: 1;
}

.example-1 .label:hover {
    border: 2px solid #ffffff;
    background-color: #0c0c0c;
}

.example-1 .svg:hover {
    opacity: 1;
}

.modal-backdrop.show {
    opacity: 0.5;
    z-index: 3 !important;
}

.modal {
    z-index: 5 !important;
}


.modal-content {
    z-index: 5 !important;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5 !important;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}

.svg {
    z-index: 10;
    margin-top: 15px;
    opacity: 0;
}

.gerg {
    font-size: 50px;
    z-index: 2;
    position: absolute;
    color: #e2264d;
}

.button2 {
    position: absolute;
    z-index: 999;!important;
    background-color: #e2264d;
    cursor: pointer;
}

.overlay2 {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.8);

}

.popup2 {
    position: absolute;
    width: 1000px;
    height: 600px;
    left: 50%;
    top: 53%;
    z-index: 100;
    transform: translate(-50%, -50%);

    border-radius: 30px;
    box-sizing: border-box;
    background: #fafafa;
    color: #0c0c0c;
    text-align: center;
}

.close-popup2 {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 23px;
    height: 23px;
    cursor: pointer;
}

.close-popup2:before {
    content: '';
    background-color: #fff;
    position: absolute;
    height: 1px;
    width: 20px;
    top: 11px;
    left: -4px;
    transform: rotate(-45deg);
}

.close-popup2:after {
    content: '';
    background-color: #fff;
    position: absolute;
    height: 1px;
    width: 20px;
    top: 11px;
    transform: rotate(45deg);
    left: -4px;
}
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
	display: none;
}

/* width */
.description::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.description::-webkit-scrollbar-track {

    border-radius: 10px;
}

/* Handle */
.description::-webkit-scrollbar-thumb {
    background: #777777;
    border-radius: 10px;
}

.description {
    font-size: 20px;
    font-family: 'Montserrat Alternates', sans-serif;
    margin-top: 8%;
    overflow: scroll;
    width: 400px;
    overflow-x: hidden;
    margin-left: 53%;
    text-align: justify;
    height: 400px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0px;
    overflow-wrap: break-word;

}
.description2 {
    margin-top: -400px;
    font-size: 20px;
    background-color: #e2264d;
    font-family: 'Montserrat Alternates', sans-serif;
    overflow: scroll;
    width: 400px;
    overflow-x: hidden;
    margin-left: 53%;
    text-align: justify;
    height: 400px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0px;
    overflow-wrap: break-word;
}
.photo-post {
    position: absolute;
    width: 480px;
    height: 600px;
    border-radius:30px 0 0 30px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-post{
    color: #0c0c0c;
    margin-left: 67%;
    font-family: Organetto-Variable;
}

.blur-search{
    filter: blur(0.5rem);
    transition: 0.5s;
    position: fixed;
    left: 0; right: 0;
    top: 0; bottom: 0;

}

.like{
    position: absolute;
    margin-top: -50px;
    margin-left: 550px;
}

#like-button {
  color: #050505;
  font-size: 1.2em;
   font-family: Organetto-Variable;
  background-color: transparent;
  border: 0.1px solid;
  border-radius: 1em;
  padding: 0.333em 1em 0.25em;
  line-height: 1.2em;
  cursor: pointer;
  transition: color 150ms ease-in-out, background-color 150ms ease-in-out, transform 150ms ease-in-out;
  outline: 0;
  margin: 5em 0;
}
#like-button:hover {
  color: indianred;
}
#like-button:active {
  transform: scale(0.95);
}
#like-button.selected {
  color: #FFF;
  background-color: indianred;
  border-color: indianred;
}
#like-button .heart-icon {
  display: inline-block;
  fill: currentColor;
  width: 0.8em;
  height: 0.8em;
  margin-right: 0.2em;
}



