body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    user-select: none;
    background-color: #0c0c0c;
}

@font-face {
    // название шрифта(чтобы не запутаться лучше указать название папки со шрифтом)
    font-family: "BuyanRegular";
    // адрес шрифта и тип
    src: url("../fonts/BuyanRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.main-content {
    display: grid;
    grid-template-columns: 350px 350px 350px 350px;
    position: absolute;
    z-index: -1;
    margin-top: 10px;
    width: 94%;
    margin-top: -150px;
    margin-left: 40px;
    height: 100%;
    grid-row-gap: 55px;
}

.photo {
    padding-left: 50px;
}

.day-photo {
    color: white;
    position: absolute;
    z-index: -1;
    font-size: 45px;
    margin-top: 115px;
    margin-left: 40%;
    font-family: Organetto-Variable;
}

.new-photo {
    color: white;
    position: absolute;
    z-index: -1;
    font-size: 45px;
    margin-top: 115px;
    margin-left: 31%;
    font-family: Organetto-Variable;
}

.best-photo {
    color: white;
    position: absolute;
    z-index: -1;
    font-size: 45px;
    margin-top: 115px;
    margin-left: 34%;
    font-family: Organetto-Variable;
}

h1 {
    position: absolute;
    color: white;
    z-index: 5;
}

#fp-nav ul li a,
.fp-slidesNav ul li a {
    display: block;
    margin-top: -50px;
    margin-left: 700px;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}

span {
    width: 50px;
    background-color: white !important;
}

.area {
    background-color: white;
    width: 100px;
    height: 120%;
}

.scrollable-content {
    position: absolute;
    margin-top: -300px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: unset;
    width: 100%;
    height: 90%;
}

.main-content2 {
    display: grid;
    grid-template-columns: 350px 350px 350px 350px;
    position: absolute;
    z-index: -1;
    width: 94%;
    margin-top: 50px;
    margin-left: 40px;
    height: 100%;
    grid-row-gap: 55px;
}

::-webkit-scrollbar {
    width: 0;
}