body {
    background-color: #0c0c0c;
}

span {
    width: 50px;
    background-color: white !important;
}

#fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li a.active span,
.fp-slidesNav ul li:hover a.active span {
    height: 20px;
    width: 20px;
    margin: 20px 0 0 -50px;
    border-radius: 100%;
}

.form {
    position: absolute;
    z-index: 100000 !important;
    left: 83%;
    top: 30px;
    padding-left: 50px;
}

img {
    pointer-events: none;
}

.btn {
    position: relative;

    z-index: 100000 !important;
    border-radius: 15px;
    width: 75px;
    font-size: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-left: 15px;
    height: 30px;
    font-family: Current;
    outline: none;
    padding: 9px;
    background-color: #0c0c0c;
    border: 2px solid white;
    cursor: pointer;
    text-decoration: none;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
}

.btn:hover {
    color: rgb(0, 0, 0);
    background-color: white;
    border: 2px solid white;
    transition: 0.6s;
}

.sectiont {
    z-index: 10;
    position: absolute !important;
}

.registr {
    position: relative;
    width: 449px;
    height: 500px;

    border-radius: 50px;
    margin-top: -1px;
    margin-left: 197px;
}

h1 {
    padding-top: 20px;
    padding-left: 100px;
    font-size: 50px;
    color: #0c0c0c;
    padding-bottom: -10px;
    font-family: Organetto-Variable;
}

#id_name {
    margin-top: -90px;
    border-radius: 20px;
    width: 300px;
    padding-left: 20px;
    height: 35px;
    border: 2px solid black;
    margin-bottom: 35px;
    margin-left: 65px;
}


#id_password {
    margin-top: -30px;
    border-radius: 20px;
    width: 300px;
    padding-left: 20px;
    height: 35px;
    border: 2px solid black;
    margin-bottom: 35px;
    margin-left: 65px;
}

#id_password_check {
    margin-top: -30px;
    border-radius: 20px;
    width: 300px;
    padding-left: 20px;
    height: 35px;
    border: 2px solid black;
    margin-bottom: 35px;
    margin-left: 65px;
}


#id_email {
    margin-top: -30px;
    border-radius: 20px;
    width: 300px;
    padding-left: 20px;
    height: 35px;
    border: 2px solid black;
    margin-bottom: 35px;
    margin-left: 65px;
}

#id_isPassword {
    margin-top: -30px;
    border-radius: 20px;
    width: 300px;
    padding-left: 20px;
    height: 35px;
    border: 2px solid black;
    margin-bottom: 35px;
    margin-left: 65px;
}

#id_username {
    margin-top: -30px;
    border-radius: 20px;
    width: 300px;
    padding-left: 20px;
    height: 35px;
    border: 2px solid black;
    margin-bottom: 35px;
    margin-left: 65px;
}

#id_password1 {
    margin-top: -30px;
    border-radius: 20px;
    width: 300px;
    padding-left: 20px;
    height: 35px;
    border: 2px solid black;
    margin-bottom: 35px;
    margin-left: 65px;
}

#id_password2 {
    margin-top: -30px;
    border-radius: 20px;
    width: 300px;
    padding-left: 20px;
    height: 35px;
    border: 2px solid black;
    margin-bottom: 35px;
    margin-left: 65px;
}

.inp {
    margin-top: -30px;
    border-radius: 20px;
    width: 300px;
    padding-left: 20px;
    height: 35px;
    border: 2px solid black;
    margin-bottom: 35px;
    margin-left: 65px;
}

::placeholder {
    color: rgb(26, 26, 26);
    font-size: 17px;
    font-family: Century Gothic;
}

input::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

input::-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

input:-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

input:-ms-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

input:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input:focus:-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.btnS {
    background-color: #0c0c0c;
    color: white;
    width: 120px;
    height: 40px;
    padding-top: 5px;
    font-family: Current;
    border: none;
    border-radius: 25px;
    text-align: center;
    margin-left: 160px;
    margin-top: -10px;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
}

.btnS:hover {
    background-color: white;
    color: #0c0c0c;
    border: 3px solid black;
    transition: 0.6s;
}

.hav {
    position: absolute;
    font-family: Century Gothic;
    font-size: 15px;
    color: #0c0c0c;
    text-decoration: none;
    margin-top: 53px;
    margin-left: -110px;
}

.messages {
    position: absolute;
    font-size: 20px;
    font-family: Century Gothic;
    width: 100%;
    z-index: 20;
    color: #e2264d;
    margin-top: 70%;
    text-align: center;
}

#text2 {
    margin-top: 10%;

}

#text3 {


}

.logotip {
    width: 700px;
    z-index: 1;
    position: absolute;
    left: 410px;
    top: 80px;

}

.crystal {

    width: 500px;
    z-index: 10;
    position: absolute;
    left: -50px;
    top: -450px
}

.crystal2 {
    width: 500px;
    z-index: 1;
    position: absolute;
    left: 1150px;
    top: -100px;
}

.text-container {
    width: 800px;
    z-index: 1;
    position: absolute;
    left: 23%;
    top: 70%;
}

.crystal-info {
    width: 700px;
    z-index: -1;
    position: absolute;
    left: 5px;
    top: 120px;
}

.about {
    width: 650px;
    position: absolute;
    left: 750px;
    top: 150px;
}

.start {
    width: 1350px;
    z-index: -4;
    position: absolute;
    left: 100px;
    top: 0px;
    top: 0px
}

.start3 {
    display: none;
}

.donut {
    width: 1600px;
    z-index: -3;
    position: absolute;
    left: -150px;
    top: -200px;
    top: -230px
}

@media screen and (max-width: 415px) {
    .logotip {
        width: 250px;
        z-index: 1;
        position: absolute;
        left: 16%;
        top: 30%;
    }

    .crystal {
        width: 300px;
        z-index: 10;
        position: absolute;
        top: -450px
    }

    .crystal2 {
        width: 300px;
        z-index: 1;
        position: absolute;
        left: 150px;
        top: 100px;
    }

    .crystal-info {
        width: 350px;
        z-index: -1;
        position: absolute;
        top: -20px;
    }

    .about {
        width: 350px;
        position: absolute;
        left: 10px;
        top: 35%;
    }

    .text-container {
        width: 300px;
        z-index: 1;
        position: absolute;
        left: 10%;
        top: 53%;
    }

    .start {
        display: none;

    }

    .start3 {
        display: flex;
        width: 250px;
        z-index: -4;
        position: absolute;
        left: 50px;
        top: 10px;
    }

    .registr {
        position: relative;
        width: 250px;
        height: 250px;
        font-size: 10px;
        padding: 20px;
        background-color: white;
        border-radius: 50px;
        margin-top: -1px;
        margin-left: 35px;

    }

    .form {
        position: absolute;
        z-index: 100000 !important;
        left: 10%;
        top: 80%;
        margin-left: -75px;
        padding-left: 150px;
    }

    span {

        width: 1px;
        background-color: white !important;
    }

    #fp-nav ul li a.active span,
    #fp-nav ul li:hover a.active span,
    .fp-slidesNav ul li a.active span,
    .fp-slidesNav ul li:hover a.active span {
        height: 10px;
        width: 10px;
        margin: 100px 0 0 -50px;
        border-radius: 10%;
    }

    .fp-tooltip fp-right {
        font-size: 5px !important;
    }

    ul {
        position: absolute;
        top: -10%;
    }

    #fp-nav {
        margin-top: 250px;
        margin-right: 20px;
    }

    .donut {
        display: none;

    }

    h1 {
        font-size: 20px;
        margin-left: -35px;
        margin-bottom: 40px;
    }

    .btnS {
        background-color: #0c0c0c;
        color: white;
        width: 100px;
        height: 30px;
        padding-top: 5px;
        font-family: Current;
        border: none;
        border-radius: 25px;
        text-align: center;
        margin-left: 80px;
        margin-top: -10px;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        -webkit-transition: all 0.5s ease-out;
    }

    #id_name {
        margin-top: -90px;
        border-radius: 20px;
        width: 200px;
        padding-left: 20px;
        height: 35px;
        border: 2px solid black;
        margin-bottom: 35px;
        margin-left: 10px;
    }


    #id_password {
        margin-top: -30px;
        border-radius: 20px;
        width: 200px;
        padding-left: 20px;
        height: 35px;
        border: 2px solid black;
        margin-bottom: 35px;
        margin-left: 10px;
    }

    #id_password_check {
        margin-top: -30px;
        border-radius: 20px;
        width: 300px;
        padding-left: 20px;
        height: 35px;
        border: 2px solid black;
        margin-bottom: 35px;
        margin-left: 65px;
    }


    #id_email {
        margin-top: -30px;
        border-radius: 20px;
        width: 300px;
        padding-left: 20px;
        height: 35px;
        border: 2px solid black;
        margin-bottom: 35px;
        margin-left: 65px;
    }

    #id_isPassword {
        margin-top: -30px;
        border-radius: 20px;
        width: 300px;
        padding-left: 20px;
        height: 35px;
        border: 2px solid black;
        margin-bottom: 35px;
        margin-left: 65px;
    }

    #id_username {
        margin-top: -30px;
        border-radius: 20px;
        width: 300px;
        padding-left: 20px;
        height: 35px;
        border: 2px solid black;
        margin-bottom: 35px;
        margin-left: 65px;
    }

    #id_password1 {
        margin-top: -30px;
        border-radius: 20px;
        width: 300px;
        padding-left: 20px;
        height: 35px;
        border: 2px solid black;
        margin-bottom: 35px;
        margin-left: 65px;
    }

    #id_password2 {
        margin-top: -30px;
        border-radius: 20px;
        width: 300px;
        padding-left: 20px;
        height: 35px;
        border: 2px solid black;
        margin-bottom: 35px;
        margin-left: 65px;
    }

    .inp {
        margin-top: -30px;
        border-radius: 20px;
        width: 300px;
        padding-left: 20px;
        height: 35px;
        border: 2px solid black;
        margin-bottom: 35px;
        margin-left: 65px;
    }

}

