body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    user-select: none;
    outline: none;
    overflow: auto;
}

a {
    text-decoration: none;
}

.search ::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
    display: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

h3 {

}

img {
    pointer-events: none;
}

header .title {
    display: flex;
    position: fixed;
    background-color: #0c0c0c;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 5;
}

.name {
    color: white;
    text-decoration: none;
    outline: none;
    margin-top: 15px;
    font-family: Current;
    margin-left: 30%;


}

a {
    text-decoration: none;
}

#results-block {


}

.logo-container {
    display: flex;
    width: 350px;
}

.new-post-and-area {
    display: flex;
    width: 370px;
    z-index: 100;
    margin-top: 1%;

}

.search {
    background-image: url(icon.png);
    background-repeat: no-repeat;
    background-position: 4px;
    margin-top: 0px;
    padding-top: 6px;

    text-decoration: none;
    width: 930px;
    height: 45px;
    border-radius: 25px;
    outline: none;
    border: none;
}

.results-card {
    width: 0px;
    height: 0px;
    position: absolute;
    z-index: -999;
    max-height: 800px;
    margin-left: 0px;
    background-color: white;
    border-radius: 2px 2px 30px 30px;
    margin-top: -19px;
    padding: 15px 15px;
    display: inline-block;
}

.not-found {
    color: black;
    font-family: Century Gothic;
    text-align: center;
    margin-top: 310px;
    position: absolute;
    z-index: 1000;
    margin-left: 30%;
}

.not-found-gif {
    position: absolute;
    z-index: 0;
    width: 500px;
    margin-left: 13%;
    margin-top: -20px;
}

.not-found-extend {
    width: 898px;
    height: 400px;
}

.not-visible {
    display: none;

}

.searchItems {
    position: relative;
    overflow: scroll;
    margin-left: -15px;
    margin-top: -22px;
    padding-top: 40px;
    padding-left: 30px;
    padding-bottom: 40px;
    border-radius: 3px 3px 20px 20px;
}

.preloader {
    /*фиксированное позиционирование*/
    position: fixed;
    /* координаты положения */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* фоновый цвет элемента */
    background: #171717;
    /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
    z-index: 1001;
}

.preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #bd4dc2;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
}

@keyframes preloader-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes preloader-bounce {

    0%,
    100% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}

.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}

.loaded .preloader {
    display: none;
}


.img-profile {
    width: 80px;
    height: 80px;
    background-color: black;
    border-radius: 999px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nameSearch {
    position: absolute;
    margin-left: 120px;
    margin-top: -55px;
    color: black;

}

input::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

input::-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

input:-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

input:-ms-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

input:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input:focus:-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.search::placeholder {
    font-family: Century Gothic;
    font-size: 15px;
    padding-left: 50px;
}

#myModal {
    width: 500px;
    height: 600px;
    margin: 0 auto;
    padding: 18px 9px;
    border-radius: 20px;
    background: #fafafa;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: none;
    font-family: Century Gothic;
    color: #0c0c0c;

    opacity: 0;
    z-index: 38;
    text-align: center;
}

#myModal #myModal__close {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 1px;
    right: 11px;
    cursor: pointer;
    display: block;
    font-size: 29px;
}

#myOverlay {
    z-index: 37;
    position: fixed;
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
}

#id_postImg {
    position: absolute;


}

#id_description {

    border: 2px solid #1e1e1e;
    border-radius: 20px;
    resize: none;
    width: 350px;
    height: 50px;
    padding-top: 120px;
    padding-bottom: 100px;
    margin-top: 13%;
    background-color: #fafafa;
    text-align: center;
    font-family: Century Gothic;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
}

#form {

    z-index: 10;
}

.b-container {

    width: 200px;
    height: 150px;
    background-color: #ccc;
    margin: 0px auto;
    padding: 10px;
    font-size: 30px;

    color: #fff;
}

.b-popup {
    width: 100%;
    min-height: 100%;
    background-color: rgba(16, 13, 13, 0.74);
    overflow: hidden;
    position: fixed;
    top: 0px;
    transition: 3s;
    animation: fadeIn 1s
}

.b-popup .b-popup-content {
    margin: 40px auto 0px auto;
    width: 500px;
    height: 600px;
    text-align: center;
    padding: 10px;
    transition: 3s;
    background-color: #fafafa;
    border-radius: 30px;
    animation: fadeIn 1s

}

#close {
    position: fixed;
    text-decoration: none;
    overflow: hidden;
    outline: none;
    color: #0c0c0c;
    font-family: Century Gothic;
    font-size: 20px;
    margin-left: -50%;
    margin-top: -40%;
    position: absolute;
    opacity: 0;

    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #e2264d;

}

.fa-angle-down:before {
    content: "";
}

h2 {
    margin-top: -2%;
    font-family: Century Gothic;
}

#btn {
    background-color: #0c0c0c;
    border-radius: 20px;
    color: white;
    font-family: Century Gothic;
    font-size: 16px;
    margin-top: -5%;
    width: 35%;
    height: 35px;
    margin-top: 50px;
    border: none;
    outline: none;
    cursor: pointer;
}

.example-2 .btn-tertiary {
    color: #0c0c0c;
    padding: 0;
    line-height: 40px;
    width: 300px;
    font-family: Century Gothic;
    margin: auto;
    display: block;
    border: 2px solid #0c0c0c;
    border-radius: 10px;
}

.example-2 .btn-tertiary:hover, .example-2 .btn-tertiary:focus {
    color: #0c0c0c;
    border-color: #0c0c0c;
}

.example-2 .input-file {
    width: .1px;
    height: .1px;
    opacity: 0;


}

.example-2 .input-file + .js-labelFile {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 10px;
    cursor: pointer
}

.example-2 .input-file + .js-labelFile .icon:before {
    content: "\f093"
}

.example-2 .input-file + .js-labelFile.has-file .icon:before {
    content: "\f00c";
    color: #5AAC7B
}

.button {
    z-index: 1000;
    cursor: pointer;
    margin-left: 80px;

}

.overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: none;
    background-color: rgba(0, 0, 0, .8);
}

.popup {
    position: absolute;
    width: 500px;
    height: 600px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    border-radius: 30px;
    box-sizing: border-box;
    background: #fafafa;
    color: #0c0c0c;
    text-align: center;
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 23px;
    height: 23px;
    cursor: pointer;
}

.close-popup:before {
    content: '';
    background-color: #fff;
    position: absolute;
    height: 1px;
    width: 20px;
    top: 11px;
    left: -4px;
    transform: rotate(-45deg);
}

.close-popup:after {
    content: '';
    background-color: #fff;
    position: absolute;
    height: 1px;
    width: 20px;
    top: 11px;
    transform: rotate(45deg);
    left: -4px;
}

.logot {
    width: 30px;
    height: 30px;
    margin-left: 25px;
    margin-top: 10px;

}

@media screen and (max-width: 415px) {
    .logo-container {
        display: none;
    }

    .search {
        background-image: url(icon.png);
        background-repeat: no-repeat;
        background-position: 4px;
        margin-top: 0px;
        padding-top: 10px;
        text-decoration: none;
        width: 200px;
        height: 45px;
        border-radius: 25px;
        outline: none;
        border: none;
    }

    .logot {
        width: 30px;
        height: 30px;
        margin-left: 25px;
        margin-top: 10px;
        display: none;
    }

    .new-post-and-area {
        display: flex;
        width: 100px;
        z-index: 100;
        margin-top: 1%;

    }

    .button {
        z-index: 1000;
        cursor: pointer;
        margin-left: 10px;

    }

    .new-post-and-area {
        display: flex;
        width: 900px;
        z-index: 100;
        margin-top: 1%;

    }
}





